<div class="page">
  <h1>Your Shortened URLs</h1>

  <div class="url-list">
    <% @urls.each do |url| %>
      <div class="url-item">
        <div class="url-title"><%= url.title %></div>
        <div>Original: <%= link_to url.target_url, url.target_url, target: "_blank", class: "url-link" %></div>
        <div>Short URL: <%= link_to visit_url(url.short_path), visit_url(url.short_path), target: "_blank", class: "url-link" %></div>
        <%= link_to "View Statistics", url_path(url.short_path), class: "url-link" %>
      </div>
    <% end %>
  </div>
</div> 