<div class="page">
  <h1>Shorten Your URL</h1>

  <%= form_with(model: @url, url: urls_path, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :target_url, "Enter URL to shorten:" %>
      <%= f.url_field :target_url, required: true, placeholder: "https://example.com" %>
    </div>

    <%= f.submit "Shorten URL" %>
  <% end %>
</div> 